* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #ededf6;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header */
header {
  background-color: #32343d;
  padding: 15px;
  display: flex;
  height: 40px;
  flex-wrap: flex;
}

header h1 {
  background-color: #92cccd;
  padding: 5px 5px 5px 40px;
  position: absolute;
  left: 0;
}

/*Header links*/
header a {
  text-decoration: none;
}

header h1 a {
  color: #32343d;
}

header nav ul li a {
  color: #92cccd;
  padding: 10px;
}

/* Nav */
header nav {
  margin: 10px 0;
  position: absolute;
  right: 100px;
  flex-wrap: wrap;
  right: 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 2px solid #92cccd;
  padding: 2px 3px;
  margin: 0 6px;
  flex-wrap: wrap;
}

/* Hero */
.hero {
  background-color: lightgray;
  background-size: cover;
  padding: 60px;
}

.hero div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.hero div h2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #92cccd;
  color: #32343d;
  position: absolute;
  right: 5px;
  top: 24px;
}

/* "About me" section */
.about {
  display: flex;
  width: 100%;
  color: #32343d;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about div h2 {
  font-size: 50px;
  margin: 20px 6px;
  padding: 2px 8px 26px 26px;
  border-right: 4px solid #32343d;
  display: flex;
  width: auto;
  text-align: left;
  float: left;
  /* flex-direction: row; */
}

.about div p {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  width: 580px;
  text-align: left;
  line-height: 1.4;
}

/* Work */
.class-work h2 {
  font-size: 50px;
  /* margin: 20px 8px 50px 30px;
  padding: 6px 8px 50px 26px; */
  border-right: 4px solid #32343d;
  padding: 1px 12px 200px 127px;
  display: flex;
  width: auto;
  text-align: left;
  color: #32343d;
}

img {
  size: 10%;
}

.class-work {
  flex: 33.33%;
  padding: 5px;
  display: flex;
  width: 100%;
  color: #32343d;
  margin: 1px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.class-work img {
  width: 100%;
}

.run-buddy {
  line-height: 1;
  padding: 30px 8px;
  display: block;

  /* width: 600px; */
}

.horiseon {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  flex: 33.33%;
  justify-content: space-between;
  align-items: center;
}

.honeycomb {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  flex: 33.33%;
  justify-content: space-between;
  align-items: center;
}

.coding {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  flex: 33.33%;
  justify-content: space-between;
  align-items: center;
}

.calculator {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  flex: 33.33%;
  justify-content: space-between;
  align-items: center;
}

.images-run {
  margin: 8px;
  color: #32343d;
  flex: 1 1 350px;
  display: block;
}

.images {
  margin: 8px;
  /* background: #92cccd; */
  color: #32343d;
  flex: 1 1 150px;
  position: relative;
  align-items: stretch;
}

.images img,
.images-run img {
  border: 3px solid #92cccd;
}

.images h3,
.images-run h3,
.images p,
.images-run p {
  text-decoration: none;
  color: #32343d;
}

/* Footer */

.contact {
  text-decoration: none;
  list-style: none;
  color: #32343d;
  display: flex;
}

.contact h2 {
  font-size: 50px;
  margin: 20px 6px;
  padding: 2px 8px 26px 26px;
  border-right: 4px solid #32343d;
  display: flex;
  width: auto;
  text-align: left;
  float: left;
}

.contact div ul {
  margin: 10px 0;
  position: absolute;
  right: 100px;
  flex-wrap: wrap;
}

.contact div ul li {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  text-align: justify;
  padding: 40px 10px 6px 10px;
  border-bottom: 3px solid #32343d;
  margin: 0 10px;
}
