* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededf6;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header */
header {
  background-color: #32343d;
  padding: 15px;
  display: flex;
  height: 70px;
  flex-wrap: flex;
}

header h1 {
  background-color: #92cccd;
  padding: 5px 5px 5px 40px;
  position: absolute;
  left: 0;
}

/*Header links*/
header a {
  text-decoration: none;
}

header h1 a {
  color: #32343d;
}

header nav ul li a {
  color: #92cccd;
  padding: 10px;
}

/* Nav */
header nav {
  margin: 10px 0;
  position: absolute;
  right: 100px;
  flex-wrap: wrap;
  right: 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 2px solid #92cccd;
  padding: 2px 3px;
  margin: 0 6px;
  flex-wrap: wrap;
}

/* Hero */
.hero {
  background-image: url("../assets/images/hero-bg.jpg");
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero div {
  display: flex;
  position: absolute;
}

.hero div h2 {
  display: flex;
  text-align: right;
  background-color: #92cccd;
  color: #32343d;
  padding: 6px;
  position: relative;
  right: -235px;
}

/* "About me" section */
.about {
  display: flex;
  width: 100%;
  color: #32343d;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.about div h2 {
  font-size: 50px;
  margin: 20px 6px;
  padding: 6px 8px 26px 26px;
  border-right: 4px solid #32343d;
  display: flex;
  width: auto;
  text-align: left;
}

.about div p {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  width: 600px;
  text-align: left;
  line-height: 1.4;
}

/* Work */
.class-work h2 {
  font-size: 50px;
  margin: 20px 6px;
  padding: 6px 8px 26px 26px;
  border-right: 4px solid #32343d;
  display: flex;
  width: auto;
  text-align: left;
  color: #32343d;
}

img {
  size: 10%;
}

.class-work img {
  width: 100%;
}

.run-buddy {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
  /* width: 600px; */
}

.class-work {
  flex: 33.33%;
  padding: 5px;
}

.horiseon {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
}

.honeycomb {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
}

.coding {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
}

.calculator {
  line-height: 1;
  padding: 30px 8px;
  display: flex;
}
