* {
  background-color: #242734;
  position: relative;
  color: #b3beb3;
  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
}

.titles {
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.layout {
  margin-bottom: 300px;
}

/* Nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #515e65;
  width: 100%;
  padding: 10px;
}

nav h1 {
  padding-left: 8px;
  margin-left: 8px;
  background-color: #515e65;
}

nav ul {
  color: #b3beb3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  background-color: #515e65;
  margin-right: 10px;
}

nav ul li {
  padding: 8px;
  background-color: #515e65;
}

nav ul li a {
  background-color: #515e65;
  text-decoration: none;
}

nav ul li a:hover {
  background: #4ec5a0;
  color: #242734;
  border-radius: 15px;
  padding: 4px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Hero */

.heroDiv {
  display: flex;
  padding: 30px;
  align-items: center;
}

.heroText h1 {
  background-color: #b3beb3;
  color: #242734;
  padding: 8px;
  line-height: 35px;
  width: fit-content;
  margin-bottom: 12px;
}

.heroText {
  text-align: left;
  width: 60%;
  margin-right: 80px;
  padding-right: 30px;
  line-height: 32px;
}

.profilePic {
  text-align: right;
  width: 60%;
}

.profilePic img {
  width: 60%;
}

/* About */

.about-div {
  display: flex;
  margin: 30px;
  align-items: center;
}

.about-div img {
  width: 30%;
  padding: 0 15px 0 40px;
}

.about-text {
  text-align: left;
  width: 50%;
  padding: 15px;
  line-height: 32px;
}

/* Resume */
.resume {
  margin: 20px;
  text-align: center;
}

.resume h1 {
  margin-bottom: 40px;
}

.resume a {
  color: #242734;
  text-decoration: none;
}

.resume a h2 {
  color: #4ec5a0;
  text-align: center;
  padding: 10px;
}

.resume ul li {
  list-style: none;
}

/* Portfolio */
.portfolio {
  display: flex;
  align-items: center;
  margin: 60px 0;
}

.portfolio-mock {
  text-align: right;
}

.portfolio-mock img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.portfolio div {
  width: 50%;
  margin: 20 30px;
  padding: 20px;
}

.portfolio img {
  width: 80%;
}

.icon h2 {
  background-color: #b3beb3;
  width: fit-content;
  color: #242734;
  padding: 8px;
}

.icon img {
  width: 50px;
}

/* Contact */
#contact {
  text-align: center;
  text-decoration: none;
  margin: 0 0 30px 0;
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #515e65;
  display: block;
}

footer ul {
  display: flex;
  justify-content: space-around;
  background-color: #515e65;
  margin: 0;
}

footer ul li {
  list-style: none;
  background-color: #515e65;
}

footer ul li a {
  background-color: #515e65;
}

footer ul li a img {
  width: 40px;
  height: auto;
  background-color: #515e65;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  /* Hero */
  .heroDiv {
    display: inline-block;
    align-items: center;
    margin: auto;
  }

  .heroText {
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .profilePic {
    text-align: center;
    width: 100%;
  }

  /* Nav */
  nav {
    display: inline-block;
    width: 100%;
  }

  nav h1 {
    text-align: center;
  }

  /* Footer */
  footer {
    height: 10%;
    width: 100%;
    margin: 2px;
    background-color: #515e65;
  }

  /* Portfolio */
  .portfolio {
    display: inline-block;
    align-items: center;
  }

  .portfolio-mock {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .icon {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .icon h2 {
    width: 100%;
  }

  .titles {
    font-size: 40px;
  }

  /* About */
  .about-div {
    display: inline-block;
    margin: auto;
  }

  .about-div img {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .about-text {
    text-align: center;
    width: 90%;
    margin: 14px;
    padding: 6px;
  }
}
